@charset "UTF-8";

.tab-content {
    display: none
}

.tab-content.active {
    display: block
}

pre.xdebug-var-dump, pre.db-dump {
    max-height: 350px;
    overflow: auto;
    border: 1px solid #e2e2e2;
    padding: 5px;
}